<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.razikallayi.suraksha">

    <!-- &lt;!&ndash; To auto-complete the email text field in the login form with the user's emails &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PROFILE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->


    <!-- To send sms from phone -->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- To add photos of members -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- To backup database to SD Card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:backupAgent=".SurakshaBackup"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SurakshaLight"
        android:windowActionBar="false">
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIXLdGA5rk3lp3lLaWC1PloaufdO7kqJZDike-Mg" />

        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".member.RegisterMemberActivity"
            android:label="@string/title_register_member"
            android:parentActivityName=".member.MemberListActivity" />
        <activity
            android:name=".member.EditMemberActivity"
            android:label="@string/title_register_member"
            android:parentActivityName=".member.MemberDetailActivity" />
        <activity
            android:name=".officer.CreateOfficerActivity"
            android:label="@string/title_create_officer"
            android:parentActivityName=".officer.OfficerListActivity" />
        <activity
            android:name=".officer.EditOfficerActivity"
            android:label="@string/title_edit_officer"
            android:parentActivityName=".officer.OfficerListActivity" />
        <activity
            android:name=".officer.OfficerDetailActivity"
            android:parentActivityName=".officer.OfficerListActivity" />
        <activity
            android:name=".member.CloseAccountActivity"
            android:parentActivityName=".member.MemberDetailActivity" />

        <provider
            android:name=".data.SurakshaProvider"
            android:authorities="com.razikallayi.suraksha"
            android:exported="false" />

        <activity
            android:name=".member.MemberListActivity"
            android:label="@string/title_member_list"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".member.MemberDetailActivity"
            android:label="@string/title_member_detail"
            android:parentActivityName=".member.MemberListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".member.MemberListActivity" />
        </activity>
        <activity
            android:name=".DebugActivity"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="com.google.android.apps.drive.suraksha-ssf"
                android:value="id=AIzaSyDYUK8IBmkw180kuYuYrtW_mn-lVYtUJHg" />

            <intent-filter>
                <action android:name="com.google.android.apps.drive.DRIVE_OPEN" />

                <data android:mimeType="application/vnd.google-apps.drive-sdk.1234567890" />
                <data android:mimeType="image/png" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/jpg" />
            </intent-filter>
        </activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".report.TxnsActivity"
            android:label="@string/title_activity_txn_report"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTop" />
        <activity
            android:name=".officer.OfficerListActivity"
            android:label="@string/title_officer_list"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".loan.IssueLoanActivity"
            android:label="@string/title_loan_issue"
            android:parentActivityName=".member.MemberDetailActivity" />
        <activity
            android:name=".AvatarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_avatar"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".deposit.DepositListActivity"
            android:label="@string/title_deposit" />
        <activity
            android:name=".deposit.MakeDepositActivity"
            android:label="@string/title_deposit" />
        <activity
            android:name=".loan.ReturnLoanActivity"
            android:label="@string/title_loan_return" />
        <activity
            android:name=".loan.LoanIssuedListActivity"
            android:label="@string/title_loan_issued" />
        <activity
            android:name=".loan.LoanReturnedListActivity"
            android:label="@string/title_loan_returned" />
        <activity
            android:name=".report.ReportActivity"
            android:label="@string/title_activity_report"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.razikallayi.suraksha.HomeActivity" />
        </activity>
    </application>

</manifest>